@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

/* 전체설정 */
* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    vertical-align: bottom;
}

/* 영역설정 */
.hero {
    width: 100%;
    /* height: 100vh; */
    /* background-color: aqua; */
}

#wrap section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}


footer {
    width: 100%;
    height: 26vh;
    background-color: #FF484F;
}

/* #wrap section:nth-child(1) {
    background-color: #999;
} */

#wrap section:nth-child(2) {
    background-color: #888;
}

#wrap section:nth-child(3) {
    background-color: #777;
}

/* #wrap section:nth-child(4) {
    background-color: #666;
} */

/* #wrap section:nth-child(5) {
    background-color: #555;
} */

/* 전체 타이틀 설정 */
.title {
    font-family: 'Racing Sans One', cursive;
    color: #FF484F;
    letter-spacing: 16px;
}

/*헤더설정 ----------------------*/
header {
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #FF484F;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.n_wrap {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1400px;

    /* background-color: #999; */
}




/* 로고설정 */
#h_wrap header h1 {
    color: #D23137;
}

/* 네비설정 */
header .n_wrap nav {}

#h_wrap header .n_wrap nav ul {
    display: flex;
}

#h_wrap header .n_wrap nav ul li {
    font-size: 18px;
}

#h_wrap header .n_wrap nav ul li a {
    display: block;
    padding: 10px 20px;

    /* background-color: #888; */
}

/* #h_wrap header .n_wrap .util {background-color: #D3FF56;} */
#h_wrap header .n_wrap .util ul {
    display: flex;
}
#h_wrap header .n_wrap .util ul li {
    font-size: 20px;
}
#h_wrap header .n_wrap .util ul li a {
    padding: 10px;
    margin-right: 5px;
}



/* hero 영역 -------------------*/

#h_wrap .hero {
    /* background-color: #ddd; */
    background-image: url(../img/hero_bg.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    height: 88vh;
    
}

#h_wrap .hero article {
    position: absolute;
    width: 50%;
    height: 88vh;
    top: 0;

}

#h_wrap .hero article:nth-child(1) {
    left: 0;
}

#h_wrap .hero article:nth-child(2) {
    right: 0;
}


#h_wrap .hero article:nth-child(1) h2 {
    text-align: right;
}

#h_wrap .hero article>div {
    width: 600px;
    height: 600px;
    /* background-color: aquamarine; */
    position: absolute;
    top: 50%;
    margin-top: -280px;

    z-index: 1;
}

#h_wrap .hero article:nth-child(1)>div {
    right: 50%;
    margin-right: -250px;
}

#h_wrap .hero article:nth-child(2)>div {
    left: 10%;
    background-image: url(../img/hero01.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    
}




/* 텍스트 설정 */
#h_wrap .hero article:nth-child(1)>div {
    padding-top: 50px;
}

#h_wrap .hero article:nth-child(1)>div p {
    
}

#h_wrap .hero article:nth-child(1)>div p:nth-child(1) {
    font-size: 100px;
    color: #FF484F;
    font-weight: bold;
    text-shadow: 16px 16px #D3FF56;

}

#h_wrap .hero article:nth-child(1)>div p:nth-child(2) {
    font-size: 100px;
    color: #FF484F;
    font-weight: bold;
    text-shadow: 16px 16px #D3FF56;

    display: flex;
    justify-content: flex-end;
}




/* 돌아가는 원 */


#h_wrap .hero span {
    position: absolute;
    width: 200px;
    height: 200px;
    /* background-color: orange; */
    top: 24%;
    left: 10%;
    /* margin-top: -50px;
    margin-left: -50px; */
    z-index: 2;
    display: block;
    transform: rotate(0deg);
    animation: ani 5s linear infinite;
    
    background-image: url(../img/sample.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@keyframes ani {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#h_wrap .hero div>:nth-child(3) {
    display: flex;
    align-items: end;
}
#h_wrap .hero div>:nth-child(3) p {
    display: flex;
    align-items: end;
}




/* section1 영역 -------------*/

#wrap .story {
    
    background-color: #FBF7E4;

}


.story article {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* max-width: 1440px; */
    height: 80%;
    position: relative;
    margin: 0 auto;
}

.story article .story_wrap {
    width: 100%;
    height: 100%;
    /* background-color: #ffdc76; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.story article .story_wrap .img {
    width: 50%;
    height: 80%;

    text-align: center;
    /* margin-right: 25px; */
    /* background-color: orange; */
    overflow: hidden;

    background-image: url(../img/story01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}



/* 텍스트 구간 설정 */
.story article .txt {
    /* background-color: greenyellow; */
    width: 50%;
    height: auto;
    
    /* margin-left: 25px; */

    position: relative;

}

.story article .txt .title {
    display: flex;
    flex-direction: column;
    

    transform: rotate(-10deg);
    padding-bottom: 30px;
}


.story article .story_wrap .txt .title em {
    font-size: 80px;
    font-weight: bold;
    color: #FF484F;
}

.story article .story_wrap .txt .title span {
    font-size: 80px;
    font-weight: bold;
    color: #FF484F;
}

.story article .story_wrap .txt p {
    font-size: 24px;
    font-weight: normal;
    color: #2a2a2a;
    margin-top: 25px;
    line-height: 1.5;
    text-align: center;
    padding-top: 40px;
}


/* deco(반짝거리는 이미지) 설정 */
.deco span:nth-child(1) {
    width: 50px;
    height: 50px;
    /* background-color: yellow; */
    background-image: url(../img/icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-30deg);
    position: absolute;
    top: 0;
    left: 30%;

    transform: rotate(0deg);
    animation: ani3 1.5s linear infinite alternate;
}

@keyframes ani3 {
    from {
        width: 70px;
        height: 70px;
    }
    to {
        width: 90px;
        height: 90px;
    }
}

.deco span:nth-child(2) {
    width: 26px;
    height: 26px;
    /* background-color: yellow; */
    background-image: url(../img/icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-30deg);
    position: absolute;
    top: 26%;
    left: -10%;

    transform: rotate(0deg);
    animation: ani4 1.5s linear infinite alternate;
}
@keyframes ani4 {
    from {
        width: 26px;
        height:26px;
    }
    to {
        width: 40px;
        height: 40px;
    }
}

/* 텍스트 슬라이드 */
#wrap .story .text_slide {
    display: flex;
    /* background-color: #D3FF56; */
    bottom: 0;
    width: 100%;
    height: 100px;
    position: relative;
}

#wrap .story .text_slide ul {
    width: 100%;
    position: absolute;
    display: flex;
    height: 100%;
    border-top: 2px solid #FF484F;
    border-bottom: 2px solid #FF484F;
}

#wrap .story .text_slide ul li {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#wrap .story .text_slide img {
    width: 100%;
    height: auto;
}

#wrap .story .text_slide ul:nth-child(1) {
    left: 0;
    animation: txt1 50s linear infinite;
}
#wrap .story .text_slide ul:nth-child(2) {
    left: 100%;
    animation: txt2 50s linear infinite;
}

@keyframes txt1 {
    0% {
        left: 100%;
    }

    50% {
        left: 0;
    }

    100% {
        left: -100%;

    }
}

@keyframes txt2 {
    0% {
        left: 0;
    }

    50% {
        left: -100%;
    }

    50.00001% {
        left: 100%;
    }

    100% {
        left: 0
    }
}





/* section2 영역 - History----------- */
.history {
    display: block;
    content: "";
    clear: both;
}

.history article {
    float: left;
    display: flex;
    align-items: center;
}

.history article:nth-child(1) {
    width: 50%;
    height: 100%;
    background-color: antiquewhite;
}
.history article:nth-child(2) {
    width: 50%;
    height: 100%;
    background-color: aquamarine;
}

.history article>div {
    width: 500px;
    height: 500px;
    background-color: orange;
    margin: 0 auto;
}

.history .history_wrap .txt .title {
    font-size: 80px;
}


/* section4 영역 - vision -----*/



.vision {
    background-image: url(../img/vision_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.vision .title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    /* background-color: yellow; */
}


.vision .title h2 {
    font-size: 80px;
    font-weight: bold;

}



.vision_wrap {
    /* background-color: yellow; */
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.vision_wrap li {
    width: 340px;

    /* background-color: antiquewhite; */
}

.vision_wrap li:nth-child(1) {
    margin-right: 40px;
}

.vision_wrap li:nth-child(2) {
    margin-left: 40px;
}


.vision_wrap li .img {
    width: 340px;
    height: 340px;
    border-radius: 100%;
    overflow: hidden;

    background-color: #fff;
}

.vision_wrap li .img>div {
    width: 100%;
    height: 100%;
}

.vision_wrap li:nth-child(1) .img>div {
    background-image: url(../img/vision01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.vision_wrap li:nth-child(2) .img>div {
    background-image: url(../img/vision02.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.vision_wrap li .txt {
    width: 340px;
    margin-top: 52px;
    position: relative;

    /* background-color: greenyellow; */
}


.vision_wrap li .txt p:nth-child(1) {
    position: relative;
    text-align: center;
    font-size: 24px;
    color: #000;
}



.vision_wrap li .txt p:nth-child(2) {
    display: block;
    font-size: 16px;
    color: #000;
    padding-top: 10px;

}











/* section5 영역 - sns -----*/
section:nth-child(5) {
    background-color: #FBF7E4;
}

section:nth-child(5) article:nth-child(2) {}





section:nth-child(5) article h2 {
    width: 100%;
    height: 400px;
    /* background-color: sandybrown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    box-sizing: border-box;
    position: relative;
    font-size: 80px;
    
}

section:nth-child(5) article h2 em {
    font-style: normal;
    font-size: 20px;
    letter-spacing: 5px;
    color: #2a2a2a;
}



section:nth-child(5) article>div {
    width: 100%;
    height: 400px;
    /* background-color: aqua; */
    position: relative;
}

section:nth-child(5) article>div ul {
    width: 100%;
    position: absolute;
    display: flex;
    height: 100%;
}

section:nth-child(5) article>div ul:nth-child(1) {
    left: 0;
    animation: ani2 50s linear infinite;
}

section:nth-child(5) article>div ul:nth-child(2) {
    left: 100%;
    animation: ani1 50s linear infinite;
}

/* 마우스오버시 애니메이션정지 */


section:nth-child(5) article>div:hover ul:nth-child(1) {
    animation-play-state: paused;
}

section:nth-child(5) article>div:hover ul:nth-child(2) {
    animation-play-state: paused;
}






section:nth-child(5) article>div li {
    border: 1px solid #000;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    overflow: hidden;
}

section:nth-child(5) article img {
    width: 100%;
    height: 100%;
}

@keyframes ani1 {
    0% {
        left: 100%;
    }

    50% {
        left: 0;
    }

    100% {
        left: -100%;

    }
}

@keyframes ani2 {
    0% {
        left: 0;
    }

    50% {
        left: -100%;
    }

    50.00001% {
        left: 100%;
    }

    100% {
        left: 0
    }
}