@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

/* 전체설정 */
* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    vertical-align: bottom;
}

/* 영역설정 */
/* .hero {
    width: 100%;
    height: 100vh;
    background-color: aqua;
} */

/* #wrap section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
} */


footer {
    width: 100%;
    height: 26vh;
    background-color: #FF484F;
}

/* #wrap section:nth-child(1) {
    background-color: #999;
} */

/* #wrap section:nth-child(2) {
    background-color: #888;
} */

/* #wrap section:nth-child(3) {
    background-color: #777;
} */

/* #wrap section:nth-child(4) {
    background-color: #666;
} */

/* #wrap section:nth-child(5) {
    background-color: #555;
} */
/* #wrap section:nth-child(6) {
    background-color: #444;
} */

/* 전체 타이틀 설정 */
.title {
    font-family: 'Racing Sans One', cursive;
    color: #FF484F;
    letter-spacing: 16px;
}

/*헤더설정 ----------------------*/
header {
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #FF484F;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.n_wrap {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1400px;

    /* background-color: #999; */
}




/* 로고설정 */
#h_wrap header h1 {
    color: #D23137;
}

/* 네비설정 */
header .n_wrap nav {}

#h_wrap header .n_wrap nav ul {
    display: flex;
}

#h_wrap header .n_wrap nav ul li {
    font-size: 18px;
}

#h_wrap header .n_wrap nav ul li a {
    display: block;
    padding: 10px 20px;

    /* background-color: #888; */
}

/* #h_wrap header .n_wrap .util {background-color: #D3FF56;} */
#h_wrap header .n_wrap .util ul {
    display: flex;
}
#h_wrap header .n_wrap .util ul li {
    font-size: 20px;
}
#h_wrap header .n_wrap .util ul li a {
    padding: 10px;
    margin-right: 5px;
}



/* hero 영역 -------------------*/

#h_wrap .hero {
    /* background-color: #ddd; */
    background-image: url(../img/hero_bg.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 88vh;
    
}

#h_wrap .hero article {
    position: absolute;
    width: 50%;
    height: 88vh;
    top: 0;

}

#h_wrap .hero article:nth-child(1) {
    left: 0;
}

#h_wrap .hero article:nth-child(2) {
    right: 0;
}


#h_wrap .hero article:nth-child(1) h2 {
    text-align: right;
}

#h_wrap .hero article>div {

    background-color: aquamarine;
    position: absolute;
    top: 50%;
    margin-top: -280px;

    z-index: 1;
}

#h_wrap .hero article:nth-child(1)>div {
    right: 50%;
    margin-right: -250px;

    width: 50%;
    height: 50%;
}

#h_wrap .hero article:nth-child(2)>div {
    left: 10%;
    background-image: url(../img/hero01.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width:  80%;
    height: 80%;
    
}




/* 텍스트 설정 */
#h_wrap .hero article:nth-child(1)>div {
    padding-top: 50px;
}

#h_wrap .hero article:nth-child(1)>div p {
    
}

#h_wrap .hero article:nth-child(1)>div p:nth-child(1) {
    font-size: 100px;
    color: #FF484F;
    font-weight: bold;
    text-shadow: 16px 16px #D3FF56;

}

#h_wrap .hero article:nth-child(1)>div p:nth-child(2) {
    font-size: 100px;
    color: #FF484F;
    font-weight: bold;
    text-shadow: 16px 16px #D3FF56;

    display: flex;
    justify-content: flex-end;
}




/* 돌아가는 원 */


#h_wrap .hero span {
    position: absolute;
    width: 200px;
    height: 200px;
    /* background-color: orange; */
    top: 24%;
    left: 10%;
    /* margin-top: -50px;
    margin-left: -50px; */
    z-index: 2;
    display: block;
    transform: rotate(0deg);
    animation: ani 5s linear infinite;
    
    background-image: url(../img/sample.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@keyframes ani {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#h_wrap .hero div>:nth-child(3) {
    display: flex;
    align-items: end;
}
#h_wrap .hero div>:nth-child(3) p {
    display: flex;
    align-items: end;
}


/* 텍스트 슬라이드 영역-------------- */
#wrap .text_slide_wrap {
    width: 100%;
    height: 10vh;
    overflow: hidden;
    position: relative;
    background-color: #FBF7E4;
}

#wrap .text_slide_wrap .text_slide {
    display: flex;
    bottom: 0;
    width: 100%;
    height: 10vh;
    position: relative;
}

#wrap .text_slide_wrap .text_slide ul {
    width: 100%;
    position: absolute;
    display: flex;
    height: 100%;
    border-top: 2px solid #FF7347;
    border-bottom: 2px solid #FF7347;
}

#wrap .text_slide_wrap .text_slide ul li {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 50px;
}


#wrap .text_slide_wrap .text_slide img {
    width: 100%;
    height: auto;
}

#wrap .text_slide_wrap .text_slide ul:nth-child(1) {
    left: 0;
    animation: txt1 50s linear infinite;
}
#wrap .text_slide_wrap .text_slide ul:nth-child(2) {
    left: 100%;
    animation: txt2 50s linear infinite;
}

@keyframes txt1 {
    0% {
        left: 100%;
    }

    50% {
        left: 0;
    }

    100% {
        left: -100%;

    }
}

@keyframes txt2 {
    0% {
        left: 0;
    }

    50% {
        left: -100%;
    }

    50.00001% {
        left: 100%;
    }

    100% {
        left: 0
    }
}


/* story 영역 ----------------------*/


#wrap .story {
    
    background-color: #FFF2D1;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}


.story article {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    position: relative;
    margin: 0 auto;

}

.story article .story_wrap {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;


    /* background-color: aqua; */
}

.story article .story_wrap .img {   
    width: 424px;
    height: 556px;

    text-align: center;
    overflow: hidden;

    background-image: url(../img/story01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


/* txt영역 */
.story article .txt {
    /* background-color: #D3FF56; */
    position: relative;

    margin-left: 150px;

}

.story article .txt .title {
    display: flex;
    flex-direction: column;
    

    transform: rotate(-10deg);
    padding-bottom: 30px;
}


.story article .story_wrap .txt .title em {
    font-size: 80px;
    font-weight: bold;
    color: #FF484F;
}

.story article .story_wrap .txt .title span {
    font-size: 80px;
    font-weight: bold;
    color: #FF484F;
}

.story article .story_wrap .txt p {
    font-size: 20px;
    font-weight: normal;
    color: #2a2a2a;
    margin-top: 25px;
    line-height: 1.5;
    text-align: center;
    padding-top: 40px;
}


#wrap .story .story_wrap .txt .btn {
    text-align: center;
    margin-top: 30px;
}
#wrap .story .story_wrap .txt .btn span {
    border: 1px solid #FF484F;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    
}

/* 반짝거리는 일러스트 */
.deco span:nth-child(1) {
    width: 50px;
    height: 50px;
    background-image: url(../img/icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-30deg);
    position: absolute;
    top: 0;
    left: 30%;

    transform: rotate(0deg);
    animation: ani3 1.5s linear infinite alternate;
}

@keyframes ani3 {
    from {
        width: 70px;
        height: 70px;
    }
    to {
        width: 90px;
        height: 90px;
    }
}

.deco span:nth-child(2) {
    width: 26px;
    height: 26px;
    background-image: url(../img/icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-30deg);
    position: absolute;
    top: 26%;
    left: -5%;

    transform: rotate(0deg);
    animation: ani4 1.5s linear infinite alternate;
}
@keyframes ani4 {
    from {
        width: 26px;
        height:26px;
    }
    to {
        width: 40px;
        height: 40px;
    }
}






/*  History 영역 ------------------------ */
.history {
    width: 100%;
    /* position:sticky가 적용이 안됐었는데,
    overflow:hidden 값을 없애서 해결 */
    /* overflow: hidden; */
    position: relative;
    margin: 0 auto;
    padding: 50px 20px;
    background: linear-gradient(180deg,#FFF2D1,#FF7347);

    display:flex; 
    justify-content: space-between; 
    align-items: center;
    /* margin-bottom:100px; */
}

.history .line {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #FE5555;
    font-size: 12px;
    margin: 8px 0px;
}

.line:after {
    content: "";
    flex-grow: 1;
    background: #FE5555;
    height: 2.4px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
}

.history .title {
    font-size: 80px;
}

.history article {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.history .history_wrap {
    display: flex;
    flex-flow: row nowrap;
    margin: 50px 0;
    width: 100%;

    /* background-color: #D3FF56; */
}


/* 왼쪽영역 */
.history .history_wrap .left {
    width: 50%;
    position: relative
}

.history .history_wrap .left img {
    width: 380px;
    height: 380px;
    position: sticky;
    top: 70px;
    left: 0;
}



/* 오른쪽영역 */

.history .history_wrap .right {
    width: 50%;
    display:flex; 
    flex-flow: row wrap; 
    justify-content: center; 
    width:100%; 
    max-width:740px;
    /* background-color: aqua; */
}


.history .history_wrap .right .img {
    width: 300px;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 8px;
    box-shadow: 0 2px 18px rgba(87, 37, 14, 0.6);
}

.history .history_wrap .right .right_01 .img {
    background-image: url(../img/history01.jpg);
    margin-right: 46px;
}
.history .history_wrap .right .right_02 .img {
    background-image: url(../img/history02.jpg);
}
.history .history_wrap .right .right_03 .img {
    background-image: url(../img/history06.jpg);
    margin-right: 46px;
    margin-top: 30px;
}
.history .history_wrap .right .right_04 .img {
    background-image: url(../img/history05.jpg);
    margin-top: 30px;
}

.history .history_wrap .right .right_02, .right_04 {
    position: relative;
    top: 70px;
}

.history .history_wrap .right span {
    font-size: 26px;
    color: #fff;
    font-weight: bold;
    font-family: 'Racing Sans One', cursive;
    letter-spacing: 3px;
}



/* 제품 영역  */
.menu {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #FF7347;
}

.menu h2 {
    background-color: #D3FF56;
    color: #FFF59A;
    font-size: 80px;
    text-align: center;
    padding: 50px 0;
}

.menu article {
    position: relative;
    width: 100%;
    height: 500px;

    background-color: aqua;
}

.menu article .listBox {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 50px;
    background-color: #F7C8DA;
    padding: 10px 0;
    left: 0;
    width: 100%;
    animation: menu 60s linear infinite;
}

.menu article .listBox:hover {
    animation-play-state: paused;
}

.menu article .listBox li {
    width: 392px;
    height: 604px;
    margin-left: 50px;
    transition: all 0.8s;
    background-color: #D3FF56;
}

.menu article .listBox li img {
    width: 100%;
    height: 100%;
}

@keyframes menu {
    0% {
        left: 0;
    }
    50% {
        left: -590px;
    }
    100% {
        left: 0;
    }
}

/* vision 영역 -------------------------*/



.vision {
    width: 100%;
    /* height: 100vh; */
    overflow: hidden;
    position: relative;
    background-image: url(../img/vision_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 80px;
}


.vision .title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    /* background-color: yellow; */
}


.vision .title h2 {
    font-size: 80px;
    font-weight: bold;

}



.vision_wrap {
    /* background-color: yellow; */
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.vision_wrap li {
    width: 340px;

    /* background-color: antiquewhite; */
}

.vision_wrap li:nth-child(1) {
    margin-right: 40px;
}

.vision_wrap li:nth-child(2) {
    margin-left: 40px;
}


.vision_wrap li .img {
    width: 340px;
    height: 340px;
    border-radius: 100%;
    overflow: hidden;

    background-color: #fff;
}

.vision_wrap li .img>div {
    width: 100%;
    height: 100%;
}

.vision_wrap li:nth-child(1) .img>div {
    background-image: url(../img/vision01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.vision_wrap li:nth-child(2) .img>div {
    background-image: url(../img/vision02.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.vision_wrap li .txt {
    width: 340px;
    margin-top: 50px;
    position: relative;

    /* background-color: greenyellow; */
}


.vision_wrap li .txt p:nth-child(1) {
    position: relative;
    text-align: center;
    font-size: 24px;
    color: #000;
}



.vision_wrap li .txt p:nth-child(2) {
    display: block;
    font-size: 16px;
    color: #000;
    padding-top: 10px;

}











/* sns 영역  --------------------------*/
section:nth-child(6) {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #FBF7E4;
}

section:nth-child(6) article:nth-child(2) {}





section:nth-child(6) article h2 {
    width: 100%;
    height: 400px;
    /* background-color: sandybrown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    box-sizing: border-box;
    position: relative;
    font-size: 80px;
    
}

section:nth-child(6) article h2 em {
    font-style: normal;
    font-size: 20px;
    letter-spacing: 5px;
    color: #2a2a2a;
}



section:nth-child(6) article>div {
    width: 100%;
    height: 400px;
    /* background-color: aqua; */
    position: relative;
}

section:nth-child(6) article>div ul {
    width: 100%;
    position: absolute;
    display: flex;
    height: 100%;
}

section:nth-child(6) article>div ul:nth-child(1) {
    left: 0;
    animation: ani2 50s linear infinite;
}

section:nth-child(6) article>div ul:nth-child(2) {
    left: 100%;
    animation: ani1 50s linear infinite;
}

/* 마우스오버시 애니메이션정지 */


section:nth-child(6) article>div:hover ul:nth-child(1) {
    animation-play-state: paused;
}

section:nth-child(6) article>div:hover ul:nth-child(2) {
    animation-play-state: paused;
}






section:nth-child(6) article>div li {
    border: 1px solid #000;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    overflow: hidden;
}

section:nth-child(6) article img {
    width: 100%;
    height: 100%;
}

@keyframes ani1 {
    0% {
        left: 100%;
    }

    50% {
        left: 0;
    }

    100% {
        left: -100%;

    }
}

@keyframes ani2 {
    0% {
        left: 0;
    }

    50% {
        left: -100%;
    }

    50.00001% {
        left: 100%;
    }

    100% {
        left: 0
    }
}