@charset 'utf-8';

/* 전체설정 */
* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    border: none;
    vertical-align: bottom;
}

body {
    font-size: 14px;
}

/* 미디어쿼리구간설정///////////////// */
/* 768px 이상구간설정//////////////// */
@media(min-width:768px) {
    /* 레이아웃설정 */

    /*박스1과 박스2 가로정렬  */
    .boxA {
        display: flex;
    }

    /* 박스2-3-1과박스2-3-2  (상세설명,포스터이미지) 가로정렬*/
    .box2-3 {
        display: flex;}
    .box2-3-1, .box2-3-2 {
        width:50%;
    }
}